In [2]:
import geopandas as gpd

In [5]:
gpd.read_file("/Users/santi/Downloads/official/wwf_terr_ecos.shp")

,OBJECTID,AREA,PERIMETER,ECO_NAME,REALM,BIOME,ECO_NUM,ECO_ID,ECO_SYM,GBL_STAT,...,G200_BIOME,G200_STAT,Shape_Leng,Shape_Area,area_km2,eco_code,PER_area,PER_area_1,PER_area_2,geometry
0,1,29.802942,0.219000,Northern Mesoamerican Pacific mangroves,NT,14.0,4.0,61404.0,119.0,1.0,...,0.0,0.0,0.219475,0.002769,8174,NT1404,0.0,0.0,0.0,"POLYGON ((-112.26972 29.32648, -112.28809 29.3..."
1,2,11.977824,0.193000,Northern Mesoamerican Pacific mangroves,NT,14.0,4.0,61404.0,119.0,1.0,...,0.0,0.0,0.193289,0.001111,8174,NT1404,0.0,0.0,0.0,"POLYGON ((-112.19907 29.17528, -112.20740 29.1..."
2,3,77301.372760,111.954000,Sinaloan dry forests,NT,2.0,28.0,60228.0,98.0,1.0,...,2.0,1.0,111.951414,6.879188,77362,NT0228,0.0,0.0,0.0,"POLYGON ((-109.11700 27.74142, -109.11228 27.7..."
3,4,215.489182,1.274000,Northern Mesoamerican Pacific mangroves,NT,14.0,4.0,61404.0,119.0,1.0,...,0.0,0.0,1.273654,0.019701,8174,NT1404,0.0,0.0,0.0,"POLYGON ((-110.54179 27.38383, -110.54462 27.3..."
4,5,19.639089,0.363000,Northern Mesoamerican Pacific mangroves,NT,14.0,4.0,61404.0,119.0,1.0,...,0.0,0.0,0.363068,0.001791,8174,NT1404,0.0,0.0,0.0,"POLYGON ((-110.52850 27.28641, -110.53336 27.2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14453,14919,1.688307,0.061822,Aleutian Islands tundra,NA,11.0,2.0,51102.0,53.0,3.0,...,0.0,0.0,0.061822,0.000221,12141,NA1102,0.0,0.0,0.0,"POLYGON ((178.30554 51.96860, 178.29663 51.969..."
14454,14920,10.182745,0.195331,Aleutian Islands tundra,NA,11.0,2.0,51102.0,53.0,3.0,...,0.0,0.0,0.195331,0.001331,12141,NA1102,0.0,0.0,0.0,"POLYGON ((177.66638 51.93860, 177.65442 51.944..."
14455,14921,4.357807,0.120040,Aleutian Islands tundra,NA,11.0,2.0,51102.0,53.0,3.0,...,0.0,0.0,0.120040,0.000570,12141,NA1102,0.0,0.0,0.0,"POLYGON ((178.34024 51.94054, 178.33331 51.943..."
14456,14922,30.425075,0.395223,Aleutian Islands tundra,NA,11.0,2.0,51102.0,53.0,3.0,...,0.0,0.0,0.395223,0.003964,12141,NA1102,0.0,0.0,0.0,"POLYGON ((178.38361 51.76138, 178.37775 51.764..."
14457,14923,307.562192,2.051190,Aleutian Islands tundra,NA,11.0,2.0,51102.0,53.0,3.0,...,0.0,0.0,2.051191,0.039813,12141,NA1102,0.0,0.0,0.0,"POLYGON ((179.25220 51.34749, 179.23856 51.352..."